.carousel {
    position: relative;
    z-index: 10;
}

.carousel .thumb {
    display: none;
}

.carousel .overlay {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
 
}

.carousel .overlay_title {
    
    background-color: white;
    color: #055FBA;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 20px;
    
}

.carousel .overlay_text {
    transform: translateX(+20%);
    background-color: #03417E;
    color: white;
    font-size: 1.8em;
    padding: 10px;
}

@media screen and (max-width: 1200px){
    .carousel .overlay_title {
        font-size: 1.5em;
    }
    .carousel .overlay_text {
        font-size: 1.2em;
        transform: translateX(+10%);
    }
}

@media screen and (max-width: 1000px){
    .carousel .overlay_title {
        font-size: 1em;
    }
    .carousel .overlay_text {
        font-size: 0.6em;
        transform: translateX(+10%);
    }
}

@media screen and (max-width: 600px){
    .carousel .slide img{
        width: 100vw !important;
        height: 50vh;
        object-fit: cover;
    }
    .carousel .overlay_title {
        font-size: 0.6em;
    }
    .carousel .overlay_text {
        font-size: 0.6em;
        transform: translateX(+10%);
    }
    /* .carousel .overlay {
        left: 40%;
    } */
}



